:root {
    --menu: #4a4a4a;
    --background: #3CDBC0;
    --text: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

.paddingTop10{
    padding-top: 10px;
}

/* HEADER */

.navBar{
    text-align: center;
}

.navBar a {
    text-decoration: none;
    color: var(--menu);
}

.logoBox{
    width: 100%;
}

.logo {
    max-width: 155px;
}

/* menu cabecera */
.navList {
    list-style: none;
    text-transform: uppercase;
    padding-bottom: 13px;
    font-size: 16px; 
}

.navList li {
    display: inline;
    margin: 10px;
}

/* MAIN */

.mainBox{
    background-color: var(--background);
    color: var(--text);
    height: 90vh;
    width: 100%;
    margin: auto;
    padding-top: 45%;
}

.mainTitle {
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
}

/* MEDIA QUERIES */

@media all and (min-width:768px){
    
    .navBar{
        display: flex;
    }
    .navList{
        width: 30%;
    }

    .mainTitle{
        font-size: 40px;
    }
}
