
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px; 
    font-weight: 400;
    text-align: center;
    background: #3CDBC0;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header{
    position: fixed;
    background: #FFFFFF;
    color: #4a4a4a;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.navBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 13px;
}

.anchor {
    width: 150px;
    display: inline-block;
    text-decoration: none;
    color: #4a4a4a;
}

.logoBox{
    width: 100%;
    margin-bottom: 10px;
}

.logo {
    max-width: 155px;
}

.navList {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.anchor-menu {
    width: auto;
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    color: #4a4a4a;
}

/* MAIN */

.mainBox{
    padding-top: 70%;
    text-align: center;
}

.mainTitle {
    width: 40%;
    margin: auto;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
}

/* MEDIA QUERIES */

@media all and (min-width:768px){
    
    .navBar{
        justify-content: space-around;
    }

    .navList{
        margin-left: auto;
        width: 30%;
        align-items: flex-end;
    }

    .logoBox{
        width: auto;
        margin-right: auto;
        
    }
    .logo{
        padding: 20px 30px;
    }
    .mainTitle{
        font-size: 40px;
    }
}
